@import "tailwindcss";

.bg-blue {
  background-color: rgb(26, 62, 120);
}
.bg-yellow {
  background-color: rgb(255, 204, 16);
}
.bg-white {
  background-color: rgb(255, 255, 254);
}
.text-blue {
  color: rgb(26, 62, 120);
}
.text-yellow {
  color: rgb(255, 204, 16);
}
.text-white {
  color: rgb(255, 255, 254);
}

@font-face {
  font-family: "Orbitron";
  src: url(./fonts/Orbitron/Orbitron-VariableFont_wght.ttf) format("woff2");
}
.Orbitron {
  font-family: Orbitron;
}

@font-face {
  font-family: "sans";
  src: url(./fonts/sans/OpenSans-Italic-VariableFont_wdth/wght.ttf)
    format("woff2");
}

.Sans {
  font-family: sans;
}

#map {
  height: 180px;
}

.flip-container {
  width: 200px;
  height: 350px;
  perspective: 1000px;
}
.flip.active {
  transform: rotateY(180deg);
}
.flip {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.flip-container:hover .flip {
  transform: rotateY(180deg);
}
.flip-container:active .flip {
  transform: rotateY(180deg);
}
.front {
  background-color: rgb(4, 0, 255);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.Felipe {
  background-color: red;
}
.Japa {
  background-color: magenta;
}
.senaijr {
  background-color: blue;
}
.senai {
  background-color: red;
}
.formatação {
  text-align: center;
  display: flex;
  align-items: center;
}

@keyframes aumentar {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.aumentar {
  animation: aumentar 0.4s forwards;
}
.oco {
  opacity: 0.85;
}
